@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{

    background: #000B1C;
}

.fundo{ 

    /* Container da animação */
    display: flex;
    position: absolute;
    top: -200px;
    left: -40px;
    z-index: -1;
}

.card .fundo .bg{ 

    /* Animação */
    width: 500px;
}

.container{

    /* Container Geral */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card {

    /* Fundo Branco/CARD */
    position: relative;
    top: 150px;
    width: 414px;

    height: 830px;

    /*height: calc(100vh - 200px);*/
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.card .avatar{

    /* Foto de Perfil/AVATAR */
    position: absolute;
    left: 161px;
    top: -45px;

    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: 5px solid #FFFFFF;
}

.card .nome{

    /* Nome do Usuário */
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 60px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: #262A39;
}

.card .descricao{

    /* Descrição do Usuário */
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 90px;

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #262A39;
}

.categoria {

    /* Título das Catagorías */
    display: inline-block;
    position: absolute;
    width: fit-content;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: #262A39;
}

.categoria:nth-child(1){

    /* Posição da categoria 1 - Minhas Redes */
    left: 45px;
    top: 130px;
}

.categoria:nth-child(2){

    /* Posição da categoria 2 - Contatos */
    right: 64px;
    top: 130px;
}

.categoria:nth-child(3){

    /* Posição da categoria 3 - Meus Links */
    display: flex;
    top: 314px;
    width: 100%;
    justify-content: center;
}

.categoria:nth-child(4){

    /* Posição da categoria 4 - Indicação de Vídeo */
    display: flex;
    top: 550px;
    width: 100%;
    justify-content: center;
    /*left: 16px;*/

}

.redes{

    /* Container da PRIMEIRA linha horizontal de ícones. Categoria Minhas Redes */
    position: absolute;
    display: flex;
    top: 169px; 

}

.redes .icone{

    /* Formatação da PRIMEIRA linha horizontal de ícones. Categoria Minhas Redes */
    flex-direction: row;

    margin: 0px 0px 0px 16px;

    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    border: 2px solid rgb(214, 214, 214);
}

.redes2{

    /* Container da SEGUNDA linha horizontal de ícones. Categoria Minhas Redes */
    position: absolute;
    display: flex;
    top: 231px;
}

.redes2 .icone2{

    /* Formatação da SEGUNDA linha horizontal de ícones. Categoria Minhas Redes */
    flex-direction: row;

    margin: 0px 0px 0px 16px;

    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    border: 2px solid  rgb(214, 214, 214);
}


.contatos .telefone{

    /* Formatação campo TELEFONE - Categoria Contatos */
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    top: 172px;
    left: 217px;

    width: 181px;
    height: 45px;

    background: #262A39;
    border-radius: 10px;
}

.contatos .email{

    /* Formatação campo EMAIL da Categoria Contatos */
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    top: 189px;
    left: 217px;

    width: 181px;
    height: 45px;

    background: #262A39;
    border-radius: 10px;
}

.grupolinks{

    /* Container dos botões da Categoria MEUS LINKS */
    display: grid;
    position: relative;
    top: 255px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.links{

    /* Formatação dos botões da Categoria MEUS LINKS */
    width: 281px;
    height: 45px;
    margin: 8px;

    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    color: #FFFFFF;
    background-color: #262A39;
    border-radius: 10px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #06a0f9;
    outline: none;
    text-decoration: none;
}

.links:hover{

    /* Hover dos botões da Categoria MEUS LINKS */
    box-shadow: inset 281px 0px 0px #06a0f9;
    cursor: pointer;
    color: black;
}
 .video{

    /* Formatação do VÍDEO da INDICAÇÃO DE VÍDEO */
    position: absolute;
    top: 590px;

 }